@model NewQuestion

<form asp-action="AddQuestion" asp-controller="Home" asp-area="Admin">
    <div class="text-danger">
        Doğru cavabı variantların sağındakı seçimlərdən birini seçərək təyin edin
    </div>
    <div class="row">
        <div class="col-10">
            <div class="form-group">
                <select class="form-select form-select-lg mb-4" aria-label=".form-select-lg" asp-for="@Model.ExamId" asp-items="@(new SelectList(Model.Exams, nameof(Model.Exam.ExamID), nameof(Model.Exam.Name)))">
                    <option selected value="0">İmtahan mövzusu seçin</option>
                </select>
            </div>
        </div>
    </div>

    <br />
    <br />
    <div class="row">
        <div class="form-group col-10">
            <textarea type="text" class="form-control" id="questionText" placeholder="Sualı daxil edin" asp-for="Question"></textarea>
        </div>
    </div>
    @{ char variant = 'A';}
    @for (int i = 0; i < 4; i++)
    {
        <div class="row">
            <div class="col-lg-10">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="@variant.ToString() variantı" asp-for="@Model.Choices">
                </div>
            </div>
            <div class="col-lg-2">
                <input class="form-check-input" type="radio" name="AnswerId" id="@i" value="@i" asp-for="AnswerId">
            </div>
        </div>
        variant++;
    }

    <button typ="submit" class="button-accept">Yadda saxla</button>
</form>
@*<div class="row">
        <div class="col-lg-10">
            <div class="form-group">
                <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="B variantı">
            </div>
        </div>
        <div class="col-lg-2">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-10">
            <div class="form-group">
                <input type="text" class="form-control" id="formGroupExampleInput3" placeholder="C variantı">
            </div>
        </div>
        <div class="col-lg-2">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-10">
            <div class="form-group">
                <input type="text" class="form-control" id="formGroupExampleInput4" placeholder="D variantı">
            </div>
        </div>
        <div class="col-lg-2">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
        </div>
    </div>*@

