@model Quiz_Application.Services.Entities.Root
@{
    ViewData["Title"] = "Result";
}

<div class="w3-container w3-content" style="max-width:1200px;margin-top:80px">
    <h2>Nəticələr</h2>
    <input asp-for="objCandidate.Candidate_ID" type="hidden" id="hdnCandidateID" />
    <p>
        <table class="w3-table-all w3-centered w3-card-4 w3-white w3-round">
            <tr class="w3-blue">
                <th>Sl. No.</th>
                <th style="display:none;">Sessiya Id</th>
                <th style="display:none;">Test Id</th>
                <th>Suallar</th>
                <th>Qiymətləndirmələr</th>
                <th>Tarix</th>
            </tr>
            @if (Model.objAttempt.Count > 0)
            {
                foreach (var item in Model.objAttempt)
                {
                    <tr>
                        <td>@item.Sl_No</td>
                        <td style="display:none;">@item.SessionID</td>
                        <td style="display:none;">@item.ExamID</td>
                        <td>@item.Exam</td>
                        <td>@item.Score</td>
                        <td>@item.Date</td>
                    </tr>
                }
            }
            else
            {
                <tr><td colspan="7">Qeyd olunan hər hansı hesabat yoxdur</td></tr>
            }
        </table>
    </p>
    <div id="eqScore" class="w3-card-4 w3-round w3-white">
       
    </div>
</div>
<br />
